@charset "utf-8";

/*** BANNER ***/

.page-banner{
    position: relative;
    width: 100%;
    height: 500px;
    
    .banner{
        width: 100%;
        height: 100%;
        
        .banner-img{
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .banner-con{
        position: absolute;
        left: 50%;
        margin-left: -( 1140px / 2 );
        width: 1140px;
        
        .banner-name{
            position: absolute;
            top: 140px;
            right: 155px;
            font-weight: bold;
            color: #FFF;
            text-align: right;
            
            .name{
                font-size: 60px;
            }
            .name-02{
                font-size: 48px;
            }
            
            .live{
                margin-top: 5px;
                font-size: 18px;
            }
            
            .live-en{
                margin-top: 60px;
                
                .icon{
                    position: absolute;
                    display: block;
                    margin-top: -8px;
                    width: 4px;
                    height: 4px;
                    right: -8px;
                    background: #FFF;
                }
            }
            
            .line{
                position: absolute;
                right: 0px;
                margin-top: 30px;
                text-align: right;
                
                span{
                    display: block;
                    width: 28px;
                    height: 7px;
                    background: #FFF;
                }
                
            }
            
            p{
                margin: 0px;
            }
            
        }
        
        .banner-date{
            position: absolute;
            top: 76px;
            left: 75px;
            font-weight: bold;
            text-align: left;
            
            .date{
                font-size: 48px;
                color: $color-main;
                
                @media (max-width: 767px){
                    font-size: 24px;
                }
            }
            
            .month{
                font-size: 24px;
                color: #FFF;
                
                @media (max-width: 767px){
                    font-size: 12px;
                }
            }
            
            .line{
                position: absolute;
                margin-top: -25px;
                margin-left: 40px;
                width: 12px;
                height: 4px;
                background: #FFF;
                
                @media (max-width: 767px){
                    margin-top: -17px;
                    margin-left: 20px;
                    width: 6px;
                    height: 2px;
                }
            }
            .line-02{
                margin-top: 0px;
                margin-left: 0px;
                width: 24px;
            }
            
            .week{
                font-size: 18px;
            }
            
            p{
                margin: 10px 0;
            }
            
            .live-group{
                margin-top: 30px;
                font-size: 14px;
                color: #FFF;
                
                p{
                    margin: 5px 0;
                }
            }
        }
        
        .banner-text{
            position: absolute;
            top: 220px;
            left: 75px;
            width: 390px;
            font-size: 16px;
            text-align: left;
            color: #FFF;
            line-height: 24px;
            
            p{
                min-height: 90px;
                margin-top: 0px;
            }
        }
    }
}

.page-news-banner{
    width: 100%;
    height: 300px;
    
    .banner{
        width: 100%;
        height: 100%;
    }
}

