<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>

    <style>
        .layui-form-item {
            margin-bottom: 30px;
        }
        .layui-form-item .layui-inline:nth-child(2) .layui-form-label{
            width: 185px !important;
        }

        .layui-form-item .layui-input-block.right-width {
            padding-right: 120px;
        }
        .layui-input-inline{
            margin-bottom: 5px;
        }
        .layui-text{
            position: absolute;
            padding-left: 0;
        }
    </style>

</head>
<body>

<section style="max-width:1200px;margin: 0 auto 30px;position: relative;">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend style="text-align: center;">添加广告</legend>
    </fieldset>

    <form class="layui-form forms" id="defaultForm" action="" method="post" style="padding: 15px 0">

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>广告类型:</label>
            <div class="layui-input-block right-width">
                <select name="type" lay-verify="require" lay-search>
                    <option value="">选择广告类型</option>
                    {volist name="model->getLists('type')" id="item" }
                    <option value="{$key}">{$item}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger"></span>标题:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="title" lay-verify="" maxlength="80" placeholder="标题" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>状态:</label>
            <div class="layui-input-block right-width">
                {volist name="model->getLists('createStatus')" id="item" }
                <input type="radio" value="{$key}" name="status" title="{$item}" lay-verify="checked" lay-group="status" class="layui-input">
                {/volist}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger"></span>有效时长:</label>
            <div class="layui-input-block right-width">
                <div class="layui-inline">
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="text" value="" name="start_at" lay-verify="" placeholder="开始时间" lay-filter="date" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline" style="margin-right:0;">
                    <label class="layui-text" style="margin-left: -10px;"><span class="layui-color-danger"></span>--</label>
                    <div class="layui-input-inline" style="margin-left:10px;margin-right:0;width: 200px;">
                        <input type="text" value="" name="end_at" lay-verify="" placeholder="结束时间" lay-filter="date" class="layui-input">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="file" id="url_file" name="file" placeholder="上传图片" class="layui-upload-file">
                <input type="hidden" value="" name="url" id="url" placeholder="上传图片" class="layui-input">
                <div lay-filter="show" style="display:none;border: 1px solid #e6e6e6;border-radius: 2px;max-width: 700px;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger"></span>跳转地址:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="target" lay-verify="" placeholder="跳转地址" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger"></span>附加介绍:</label>
            <div class="layui-input-block right-width">
                <textarea type="text" value="" name="description" lay-verify="" placeholder="附加介绍" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger"></span>是否为默认:</label>
                <div class="layui-input-inline">
                    <input type="radio" value="1" name="isDefault" title="否" lay-verify="checked" lay-group="isDefault" class="layui-input" checked>
                    <input type="radio" value="2" name="isDefault" title="是" lay-verify="checked" lay-group="isDefault" class="layui-input">
                </div>
                <label class="layui-text" style="right: -60px;">(<span class="layui-color-danger">是否设置为默认图片</span>)</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit="" lay-filter="submit">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</section>

<script src="__JS__/site.js"></script>
<script src="__JS__/back.js"></script>
<script>

    layui.use(['form'], function () {
        var form = layui.form();

    });

    $(function () {
        var options = {
            form: '#defaultForm',
            success: console.log
        };
        Back.submit(options);
    });

    Site.search({
        url: '/manage/ajax/getBackUser',
        targetClass: '[lay-filter="username"]',          // 输入框目标元素
        parentClass: '.layui-input-inline',          // 父级类
        hiddenClass: '[name="back_user_id"]',          // 隐藏域input
        key:'name'
    });

    var indexLogo = Site.uploader({
        elem:'#url_file',
        targetElem:'#url',
        url: '/manage/ajax/uploader?file=file',
        title:'上传广告图',
        isAjax:true,
        success: function (res, input) {
            console.log(res);
            console.log($('#url').val());
        }
    });


</script>

</body>

</html>