<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>

    <style>
        .layui-form-item {
            margin-bottom: 30px;
        }
        .layui-form-item .layui-inline:nth-child(2) .layui-form-label{
            width: 185px !important;
        }

        .layui-form-item .layui-input-block.right-width {
            padding-right: 120px;
        }
        .layui-input-inline{
            margin-bottom: 5px;
        }
        .layui-text{
            position: absolute;
            padding-left: 0;
        }
    </style>

</head>
<body>

<section style="max-width:1200px;margin: 0 auto 30px;position: relative;">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend style="text-align: center;">添加成交单</legend>
    </fieldset>

    <form class="layui-form forms" id="defaultForm" action="" method="post" style="padding: 15px 0">

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>客户:</label>
                <div class="layui-input-inline">
                    <input type="hidden" value="" name="client_id" lay-verify="require" placeholder="客户" class="layui-input" lay-search="refresh" lay-filter="key">
                    <input type="text" value="" lay-verify="require" placeholder="客户" class="layui-input" lay-filter="client_search">

                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>签约者:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="recepter" lay-verify="require" placeholder="签约者" maxlength="18" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>签约者手机:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="receptPhone" lay-verify="require" placeholder="签约者手机" maxlength="11" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>签约时间:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="signDate" lay-verify="require" placeholder="签约时间" lay-filter="date" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>订单状态:</label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="require" lay-search>
                        <option value="">订单状态</option>
                        {volist name="model->getLists('status')" id="item" }
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>类型:</label>
                <div class="layui-input-inline">
                    {volist name="model->getLists('houseType')" id="item" }
                    <input type="radio" value="{$key}" name="type" title="{$item}" lay-verify="checked" lay-error="成交类型不能为空" lay-group="type">
                    {/volist}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger"></span>销售者:</label>
                <div class="layui-input-inline">
                    <input type="hidden" value="" name="sellerId" lay-verify="" placeholder="客户" class="layui-input" lay-search="refresh" lay-filter="key">
                    <input type="text" value="" lay-verify="" placeholder="客户" class="layui-input" lay-filter="sellerId_search">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger"></span>销售者手机:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="sellerTel" lay-verify="" placeholder="销售者手机" maxlength="11" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>房号:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="houseNo" lay-verify="require" placeholder="房号" maxlength="20" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>面积:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="area" lay-verify="require" placeholder="面积" maxlength="11" class="layui-input">
                </div>
                <label class="layui-text">平方米</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>成交单价:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="eachPrice" lay-verify="require" placeholder="成交单价" maxlength="6" class="layui-input">
                </div>
                <label class="layui-text">元</label>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>房款总价:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="total" lay-verify="require" placeholder="房款总价" maxlength="11" class="layui-input">
                </div>
                <label class="layui-text">元</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger"></span>定金金额:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="earnest" lay-verify="" placeholder="定金金额" maxlength="11" class="layui-input">
                </div>
                <label class="layui-text">元</label>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger"></span>认购时间:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="earnestDate" lay-verify="" placeholder="认购时间" lay-filter="date" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger"></span>优惠金额:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="preferencePrice" lay-verify="" placeholder="优惠金额" maxlength="20" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger"></span>楼盘返点:</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="buildingReback" lay-verify="" placeholder="楼盘返点" class="layui-input">
                </div>
                <label class="layui-text">%</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>付款方式:</label>
                <div class="layui-input-inline">
                    <select name="payWay" lay-verify="require" lay-search>
                        <option value="">付款方式</option>
                        {volist name="model->getLists('payWay')" id="item" }
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">成交单：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="file" id="url_file" name="file" placeholder="成交单" class="layui-upload-file">
                <input type="hidden" value="" name="url" id="url" placeholder="成交单" class="layui-input">
                <div lay-filter="show-url" style="display:none;border: 1px solid #e6e6e6;border-radius: 2px;max-width: 700px;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger"></span>备注:</label>
            <div class="layui-input-block right-width">
                <textarea name="notes" lay-verify="" placeholder="备注" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit="" lay-filter="submit">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</section>

<script src="__JS__/site.js"></script>
<script src="__JS__/back.js"></script>
<script>

    layui.use(['form'], function () {
        var form = layui.form();

    });

    $(function () {
        var options = {
            form: '#defaultForm',
            success: console.log
        };
        Back.submit(options);
    });

    Site.search({
        url: '/manage/ajax/getClient',
        targetClass: '[lay-filter="client_search"]',          // 输入框目标元素
        parentClass: '.layui-input-inline',          // 父级类
        hiddenClass: '[name="client_id"]',          // 隐藏域input
        key:'name'
    });

    Site.search({
        url: '/manage/ajax/getClient',
        targetClass: '[lay-filter="sellerId_search"]',          // 输入框目标元素
        parentClass: '.layui-input-inline',          // 父级类
        hiddenClass: '[name="sellerId"]',          // 隐藏域input
        key:'name'
    });

    var indexUrl = Site.uploader({
        elem: '#url_file',
        targetElem: '#url',
        url: '/manage/ajax/uploader?file=file',
        title: '成交单',
        isAjax: true,
        success: function (res, input) {
            console.log(res);
            console.log($('#url').val());
        }
    });

</script>

</body>

</html>