<div class="layui-header header header-theme-one">

    <!-- 顶级右边开始 -->
    <div class="dinner-site-resize sidebar-close">

        <!-- 顶级右侧logo区域开启 -->
        <div id="dinner-side-logo" style="">
            <a class="logo" href="javascript:void(0);" title="logo"><img src="/static/images/logo-folded.png" alt="LOGO"></a>
        </div>
        <!-- 顶级右侧logo区域结束 -->

        <!-- 顶级右侧菜单关闭打开按钮开启 -->

        <!--<div class="dinner-side-toggle"  id="dinner-side-toggle">-->
            <!--<i class="fa fa-chevron-left" title="隐藏侧栏" data-open="fa fa-chevron-left" data-close="fa fa-chevron-right" aria-hidden="true"></i>-->
        <!--</div>-->

        <div class="dinner-sidebar-toggle"  id="dinner-sidebar-toggle">
            <div class="dinner-sidebar-toggle-container">
                <div class="dinner-sidebar-toggle-box">
                    <i class="fa fa-chevron-left" title="隐藏侧栏" data-open="fa fa-chevron-left" data-close="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <!-- 顶级右侧菜单关闭打开按钮结束 -->

        <!-- 顶级右侧刷新当前按钮开启 -->
        <div class="dinner-side-refresh" id="dinner-side-refresh">
            <i class="fa fa-refresh" title="刷新当前" aria-hidden="true"></i>
        </div>
        <!-- 顶级右侧刷新当前按钮结束 -->

        <!-- 顶级右侧全屏按钮开启 -->
        <div class="dinner-side-full" id="dinner-side-full" data-full="false">
            <i class="fa fa-expand" title="进入全屏" data-open="fa fa-expand" data-close="fa fa-compress" aria-hidden="true"></i>
        </div>
        <!-- 顶级右侧全屏按钮结束 -->

    </div>
    <!-- 顶级右边结束 -->

    <div class="layui-main dinner-header-body">

        <!-- 顶级主体左侧logo区域开启 -->
        <div class="">
            <a class="dinner-logo-title" href="javascript:void(0);" title="Home"><span style="">Home</span></a>
        </div>
        <!-- 顶级主体左侧logo区域结束 -->

        <!-- 顶级主体中间区域导航开启 -->
        <div class="layui-dinner-menu">
            <!--<ul class="layui-nav clearfix">-->
            <!--<li class="layui-nav-item layui-this">-->
            <!--<a href="javascirpt:;"><i class="fa fa-home"></i>模块1</a>-->
            <!--</li>-->
            <!--</ul>-->
        </div>
        <!-- 顶级主体中间区域导航结束 -->

        <!-- 顶级主体右侧区域导航开启 -->
        <ul class="layui-nav dinner-header-item">
            <li class="layui-nav-item first">
                <a href="javascript:;">
                    <img src="/static/images/default-user.png" class="userimg">
                    <cite>{if condition="isset($_SESSION['identity']['username'])"}{$_SESSION['identity']['username']}{/if}</cite>
                    <span class="layui-nav-more"></span>
                </a>
                <!--<dl class="layui-nav-child">-->
                    <!--<dd>-->
                        <!--<a href="">操作1</a>-->
                    <!--</dd>-->
                    <!--<dd>-->
                        <!--<a href="">操作2</a>-->
                    <!--</dd>-->
                <!--</dl>-->
            </li>
            <!--<li class="layui-nav-item">-->
            <!--<a href="javascript:;" id="lock">-->
            <!--<i class="fa fa-lock" aria-hidden="true" style="padding-right: 3px;padding-left: 1px;"></i> 锁屏 (Alt+L)-->
            <!--</a>-->
            <!--</li>-->
            <li class="layui-nav-item">
                <a href="/login/logout.html">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    退出</a>
            </li>
        </ul>
        <!-- 顶级主体右侧区域导航结束 -->

    </div>
</div>