<div class="layui-side layui-side-bg layui-dinner-side" id="dinner-side">
    <div class="layui-side-scroll dinner-side-body" id="dinner-nav-side" lay-filter="side">
        <div id="dinner-nav-side-header">
            <div class="user-photo" id="user-profile" style="position: absolute;">
                <a data-url="/manage/user/view.html?iframe=true" class="img" lay-filter="url" data-title="个人信息">
                    <img class="user-images" src="/static/images/default-user.png" title="个人信息" alt="我的头像" />
                </a>
                <p>你好！{if condition="isset($_SESSION['identity']['username'])"}{$_SESSION['identity']['username']}{/if}, 欢迎登录</p>
                <p class="navbar-error"></p>
            </div>
        </div>
    </div>
</div>
