<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

#绑定 www.alivehouse.com 到 PC端
  RewriteCond %{HTTP_HOST} www.alivehouse.com$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

#绑定 m.alivehouse.com 到 手机端
  RewriteCond %{HTTP_HOST} m.alivehouse.com$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ phone.php/$1 [QSA,PT,L]

#绑定 cms.alivehouse.com 到 后台
  RewriteCond %{HTTP_HOST} cms.alivehouse.com$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ admin.php/$1 [QSA,PT,L]

# 以上三个都不符合 绑定到 PC 端
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

</IfModule>
