<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>

    <style>
        .layui-form-item {
            margin-bottom: 30px;
        }
        .layui-form-item .layui-inline:nth-child(2) .layui-form-label{
            width: 185px !important;
        }

        .layui-form-item .layui-input-block.right-width {
            padding-right: 120px;
        }
        .layui-input-inline{
            margin-bottom: 5px;
        }
        .layui-text{
            position: absolute;
            padding-left: 0;
        }
    </style>

</head>
<body>

<section style="max-width:1200px;margin: 0 auto 30px;position: relative;">

    <h3 class="title layui-title" style="text-align: center;">添加汽车配置特征量</h3>

    <form class="layui-form forms" id="defaultForm" action="" method="post" style="padding: 15px 0">

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>选择汽车系列:</label>
            <div class="layui-input-block">
                <div class="layui-input-inline" style="width: 30%;">
                    <select name="brand_id" lay-verify="require" lay-filter="brand" lay-search>
                        <option value="">选择品牌</option>
                        {volist name="cate" id="item" }
                        <option value="{$item.id}">{$item.name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 30%;">
                    <select name="series_id" lay-verify="require" lay-filter="series" lay-search>
                        <option value="">选择车型</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 30%;">
                    <select name="unique_id" lay-verify="require" lay-filter="unique" lay-search>
                        <option value="">选择车款</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>是否存在父级:</label>
            <div class="layui-input-block right-width">
                <input type="radio" value="0" name="isParent" title="否" lay-verify="checked" lay-group="isParent" class="layui-input" checked>
                <input type="radio" value="1" name="isParent" title="是" lay-verify="checked" lay-group="isParent" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>选择父级:</label>
            <div class="layui-input-block">
                <div class="layui-input-inline" style="width: 30%;">
                    <select lay-verify="" lay-filter="level" lay-search lay-level="1">
                        <option value="">请选择</option>
                        {volist name="cateProp" id="item" }
                        <option value="{$item.id}">{$item.name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 30%;">
                    <select lay-verify="" lay-filter="level" lay-search lay-level="2">
                        <option value="">请选择</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 30%;">
                    <select lay-verify="" lay-filter="level" lay-search lay-level="3">
                        <option value="">请选择</option>
                    </select>
                </div>
                <input type="hidden" value="" name="pid" lay-verify="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>类目名称:</label>
            <div class="layui-input-block right-width">
                <div class="layui-input-inline" style="width: 91%;">
                    <input type="text" value="" name="name" lay-verify="require" placeholder="类目名称" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>是否颜色属性:</label>
            <div class="layui-input-inline right-width">
                <input type="radio" value="0" name="isColor" title="否" lay-verify="checked" lay-group="isColor" class="layui-input" checked>
                <input type="radio" value="1" name="isColor" title="是" lay-verify="checked" lay-group="isColor" class="layui-input">
            </div>
            <label class="layui-form-label"><span class="layui-color-danger">*</span>是否枚举属性:</label>
            <div class="layui-input-inline right-width">
                <input type="radio" value="0" name="isEnum" title="否" lay-verify="checked" lay-group="isEnum" class="layui-input" checked>
                <input type="radio" value="1" name="isEnum" title="是" lay-verify="checked" lay-group="isEnum" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>是否输入属性:</label>
            <div class="layui-input-inline right-width">
                <input type="radio" value="0" name="isAlive" title="否" lay-verify="checked" lay-group="isAlive" class="layui-input" checked>
                <input type="radio" value="1" name="isAlive" title="是" lay-verify="checked" lay-group="isAlive" class="layui-input">
            </div>
            <label class="layui-form-label"><span class="layui-color-danger">*</span>是否关键属性:</label>
            <div class="layui-input-inline right-width">
                <input type="radio" value="0" name="isUnique" title="否" lay-verify="checked" lay-group="isUnique" class="layui-input" checked>
                <input type="radio" value="1" name="isUnique" title="是" lay-verify="checked" lay-group="isUnique" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>是否销售属性:</label>
            <div class="layui-input-inline right-width">
                <input type="radio" value="0" name="isSeller" title="否" lay-verify="checked" lay-group="isSeller" class="layui-input" checked>
                <input type="radio" value="1" name="isSeller" title="是" lay-verify="checked" lay-group="isSeller" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit="" lay-filter="submit">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</section>

<script src="__JS__/site.js"></script>
<script src="__JS__/back.js"></script>
<script>

    layui.use(['form'], function () {
        var form = layui.form;
        var level = parseInt($('[lay-filter="level"]:selected').val());
        var brand = $('[lay-filter="brand"]');
        var series = $('[lay-filter="series"]');
        var logo = $('[lay-filter="logo"]');
        form.on('radio(level)', function(data){
            level = parseInt(data.value);
            if (level===3){
                brand.attr('lay-verify','require');
                brand.closest('.layui-form-item').fadeIn();
                series.attr('lay-verify','require');
                series.closest('.layui-form-item').fadeIn();
                logo.closest('.layui-form-item').hide();
            }else if (level===2){
                brand.attr('lay-verify','require');
                brand.closest('.layui-form-item').fadeIn();
                series.attr('lay-verify','');
                series.closest('.layui-form-item').hide();
                logo.closest('.layui-form-item').hide();
            }else {
                brand.attr('lay-verify','');
                brand.closest('.layui-form-item').hide();
                series.attr('lay-verify','');
                series.closest('.layui-form-item').hide();
                logo.closest('.layui-form-item').fadeIn();

            }
        });
        form.on('select(brand)', function(data){
            var pid = data.value;
            if (level===3){
                series.html('');
                $.get("{:url('ajax/getCate')}",{pid:pid},function(data){
                    if (data){
                        var option = [];
                        option.push('<option value="">请选择</option>');
                        if (data.length>0){
                            for (var k in data){
                                option.push('<option value="'+data[k].id+'">'+data[k].name+'</option>');
                            }
                        }
                        series.html(option.join('')).attr('lay-verify','require');
                        form.render('select');
                        series.closest('.layui-form-item').fadeIn();
                    }
                });
            }
        });
    });

    $(function () {
        var options = {
            form: '#defaultForm',
            success: console.log
        };
        Back.submit(options);
    });

    var indexLogo = Site.uploader({
        elem:'#logo_file',
        targetElem:'#logo',
        url: '/ajax/uploader?file=file',
        title:'上传品牌商标',
        isAjax:true,
        success: function (res, input) {
            console.log(res);
            console.log($('#url').val());
        }
    });


</script>

</body>

</html>