<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>

    <style>
        .layui-form-item {
            margin-bottom: 30px;
        }
        .layui-form-item .layui-inline:nth-child(2) .layui-form-label{
            width: 185px !important;
        }

        .layui-form-item .layui-input-block.right-width {
            padding-right: 120px;
        }
        .layui-input-inline{
            margin-bottom: 5px;
        }
        .layui-text{
            position: absolute;
            padding-left: 0;
        }
    </style>

</head>
<body>

<section style="max-width:1200px;margin: 0 auto 30px;position: relative;">

    <h3 class="title layui-title" style="text-align: center;">添加类目</h3>

    <form class="layui-form forms" id="defaultForm" action="" method="post" style="padding: 15px 0">

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>类目类型:</label>
            <div class="layui-input-block right-width">
                {volist name="model->getLists('car')" id="item" }
                <input type="radio" value="{$key}" name="\$level" title="{$item}" lay-verify="checked" lay-group="level" lay-filter="level" class="layui-input">
                {/volist}
            </div>
        </div>

        <div class="layui-form-item" style="display: none;">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>品牌:</label>
            <div class="layui-input-block right-width">
                <select name="brand_id" lay-verify="" lay-filter="brand" lay-search>
                    <option value="">选择品牌</option>
                    {volist name="brand" id="item" }
                    <option value="{$item.id}">{$item.name}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="display: none;" lay-filter="seriesContainer">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>车型:</label>
            <div class="layui-input-block right-width">
                <select name="series_id" lay-verify="" lay-filter="series" lay-search>
                    <option value="">选择车型</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>类目名称:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="name" lay-verify="require" placeholder="类目名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="display: none;">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>品牌商标:</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="file" id="logo_file" name="file" placeholder="上传图片" class="layui-upload-file" lay-filter="logo" lay-error="品牌商标不能为空">
                <input type="hidden" value="" name="logo" id="logo" placeholder="上传图片" class="layui-input">
                <div lay-filter="show" style="display:none;border: 1px solid #e6e6e6;border-radius: 2px;max-width: 700px;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger"></span>附加说明:</label>
            <div class="layui-input-block right-width">
                <textarea type="text" value="" name="title" lay-verify="" placeholder="附加说明" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit="" lay-filter="submit">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</section>

<script src="__JS__/site.js"></script>
<script src="__JS__/back.js"></script>
<script>

    layui.use(['form'], function () {
        var form = layui.form;
        var level = parseInt($('[lay-filter="level"]:selected').val());
        var brand = $('[lay-filter="brand"]');
        var series = $('[lay-filter="series"]');
        var logo = $('[lay-filter="logo"]');
        form.on('radio(level)', function(data){
            level = parseInt(data.value);
            if (level===3){
                brand.attr('lay-verify','require');
                brand.closest('.layui-form-item').fadeIn();
                series.attr('lay-verify','require');
                series.closest('.layui-form-item').fadeIn();
                logo.closest('.layui-form-item').hide();
            }else if (level===2){
                brand.attr('lay-verify','require');
                brand.closest('.layui-form-item').fadeIn();
                series.attr('lay-verify','');
                series.closest('.layui-form-item').hide();
                logo.closest('.layui-form-item').hide();
            }else {
                brand.attr('lay-verify','');
                brand.closest('.layui-form-item').hide();
                series.attr('lay-verify','');
                series.closest('.layui-form-item').hide();
                logo.closest('.layui-form-item').fadeIn();

            }
        });
        form.on('select(brand)', function(data){
            var pid = data.value;
            if (level===3){
                series.html('');
                $.get("{:url('ajax/getCate')}",{pid:pid},function(data){
                    if (data){
                        var option = [];
                        option.push('<option value="">请选择</option>');
                        if (data.length>0){
                            for (var k in data){
                                option.push('<option value="'+data[k].id+'">'+data[k].name+'</option>');
                            }
                        }
                        series.html(option.join('')).attr('lay-verify','require');
                        form.render('select');
                        series.closest('.layui-form-item').fadeIn();
                    }
                });
            }
        });
    });

    $(function () {
        var options = {
            form: '#defaultForm',
            success: console.log
        };
        Back.submit(options);
    });

    var indexLogo = Site.uploader({
        elem:'#logo_file',
        targetElem:'#logo',
        url: '/ajax/uploader?file=file',
        title:'上传品牌商标',
        isAjax:true,
        success: function (res, input) {
            console.log(res);
            console.log($('#url').val());
        }
    });


</script>

</body>

</html>