<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>

    <style>
        .layui-form-item {
            margin-bottom: 30px;
        }
        .layui-form-item .layui-inline:nth-child(2) .layui-form-label{
            width: 185px !important;
        }

        .layui-form-item .layui-input-block.right-width {
            padding-right: 120px;
        }
        .layui-input-inline{
            margin-bottom: 5px;
        }
        .layui-elem-field.layui-field-title.noTopLine{
            border-top: none;
        }
    </style>

</head>
<body>

<section style="max-width:1200px;margin: 0 auto 30px;position: relative;">

    <fieldset class="layui-elem-field layui-field-title noTopLine" style="margin-top: 20px;">
        <legend style="text-align: center;">添加地区</legend>
    </fieldset>

    <form class="layui-form forms" id="defaultForm" action="" method="post" style="padding: 15px 0">

        <div class="layui-form-item">
            <label class="layui-form-label">上级城市:</label>
            <div class="layui-input-block right-width">
                <select name="parent" lay-search >
                    <option value="0">请选择</option>
                    {volist name="cityList" id="item"}
                    <option value="{$key}">{$item}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">城市名称:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="name" placeholder="城市名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">城市备注:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="data" placeholder="城市备注" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit="" lay-filter="submit">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</section>

<script src="__JS__/site.js"></script>
<script src="__JS__/back.js"></script>
<script>


    layui.use(['form'],function () {
        var form = layui.form();
    });

    $(function () {
        var options = {
            form:'#defaultForm',
            success:console.log
        };
        Back.submit(options);

        Site.search({
            url: '/manage/ajax/getCity',
            targetClass: '[lay-filter="targetParent"]',      // 输入框目标元素
            parentClass: '.layui-input-block',          // 父级类
            hiddenClass: '[lay-filter="parent"]',          // 隐藏域input
            key:'name'
        });

    });

</script>

</body>

</html>