<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>

</head>

<body>

<section style="max-width:1200px;margin: 0 auto 30px;position: relative;">

    <form class="layui-form forms" id="defaultForm" action="" method="post" style="padding: 15px 0">

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>房源标题：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="text" value="" name="title" lay-verify="require" placeholder="请输入房源标题" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>所属区域：</label>
                <div class="layui-input-inline">
                    <select name="city_id" lay-verify="require" lay-search >
                        <option value="">选择城市</option>
                        {volist name="cityLists" id="item"}
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="county_id" lay-search="" id="county" >
                        <option value="">选择区/县</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" value="" name="" lay-verify="" placeholder="小区名称" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>房东名称：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="hidden" name="host_user_id" lay-filter="key" lay-search="refresh" lay-verify="require" placeholder="请输入房东关键词" class="layui-input" />
                <input type="text" value="" lay-filter="keyword" lay-verify="require" placeholder="请输入房东关键词" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>房源地址：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="text" value="" name="address" lay-verify="require" placeholder="请输入房源地址" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>房源房型：</label>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="room" lay-verify="require" lay-search >
                        <option value="">选择居室</option>
                        {volist name="lang['room']" id="item" }
                        <option value="{$key}">{$item} 室</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="hall" lay-verify="require" lay-search >
                        <option value="">选择大厅</option>
                        {volist name="lang['hall']" id="item" }
                        <option value="{$key}">{$item} 厅</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="kitchen" lay-verify="require" lay-search >
                        <option value="">选择厨房</option>
                        {volist name="lang['kitchen']" id="item" }
                        <option value="{$key}">{$item} 厨</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="toilet" lay-verify="require" lay-search >
                        <option value="">选择独卫</option>
                        {volist name="lang['toilet']" id="item" }
                        <option value="{$key}">{$item} 卫</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="veranda" lay-verify="require" lay-search >
                        <option value="">选择阳台</option>
                        {volist name="lang['veranda']" id="item" }
                        <option value="{$key}">{$item} 台</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>楼层信息：</label>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="floorsType" lay-verify="require" lay-search >
                        <option value="">楼层类型</option>
                        {volist name="lang['floorsType']" id="item" }
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
                <label class="layui-form-label" style="width: 110px;">所在楼层：</label>
                <div class="layui-input-inline" style="width: 130px;">
                    <input type="text" value="" name="onFloor" lay-verify="require" placeholder="所在楼层" class="layui-input">
                </div>
                <label class="layui-form-label" style="width: 110px;">楼层总数：</label>
                <div class="layui-input-inline" style="width: 130px;">
                    <input type="text" value="" name="floors" lay-verify="require" placeholder="楼层总数" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>房屋信息：</label>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="face" lay-verify="require" lay-search >
                        <option value="">房屋朝向</option>
                        {volist name="lang['face']" id="item" }
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
                <label class="layui-form-label" style="width: 110px;">房屋类型：</label>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="houseType" lay-verify="require" lay-search >
                        <option value="">房屋类型</option>
                        {volist name="lang['houseType']" id="item" }
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
                <label class="layui-form-label" style="width: 110px;">装修情况：</label>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="fitment" lay-verify="require" lay-search >
                        <option value="">装修情况</option>
                        {volist name="lang['fitment']" id="item" }
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>建筑面积：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="area" lay-verify="require" placeholder="建筑面积" class="layui-input">
                </div>
                <label class="layui-text layui-label">平方米</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>房屋单价：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="eachPrice" lay-verify="require" placeholder="房屋单价" class="layui-input">
                </div>
                <label class="layui-text layui-label">元/平方米</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>房屋总价：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="price" lay-verify="require" placeholder="房屋总价" class="layui-input">
                </div>
                <label class="layui-text layui-label">万元</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">建筑年代：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="years" placeholder="建筑年代" class="layui-input">
                </div>
                <label class="layui-text layui-label">年</label>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>房源描述：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <textarea  name="description" placeholder="请输入房源描述" lay-verify="require" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>房源封面：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="file" id="house_url_file" name="file" placeholder="房源封面" class="layui-upload-file">
                <input type="hidden" value="" name="url" id="url" lay-verify="require" lay-error="房源封面不能为空" placeholder="房源封面" class="layui-input">
                <div lay-filter="show-url" style="display:none;border: 1px solid #e6e6e6;border-radius: 2px;max-width: 700px;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>房源图片：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="file" id="house_detail_file" name="file[]" multiple placeholder="房源图片" class="layui-upload-file">
                <input type="hidden" value="" name="detail" id="detail" class="layui-input">
                <div lay-filter="show-detail" style="display:none;border: 1px solid #e6e6e6;border-radius: 2px;max-width: 700px;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">基础设施：</label>
            <div class="layui-input-block" lay-error="请至少选择一个基础设施" style="padding-right: 120px;" >
                {volist name="lang['supporting']" id="item" }
                <input type="checkbox" name="supporting[]" value="{$key}" title="{$item}" lay-verify="checked" lay-group="supporting" lay-skin="primary" />
                {/volist}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">交通状况：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <textarea placeholder="请输入交通状况" name="traffic" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">周边配套：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <textarea placeholder="请输入周边配套" name="around" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">房源标签：</label>
            <div class="layui-input-block" lay-error="请至少选择一个房源标签" style="padding-right: 120px;" >
                {volist name="lang['houseLabel']" id="item" }
                <input type="checkbox" name="houseLabel[]" value="{$key}" title="{$item}" lay-verify="checked" lay-group="houseLabel" lay-skin="primary" />
                {/volist}
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>销售状态：</label>
                <div class="layui-input-block checkbox-left checkbox-primary" style="padding-right: 120px;" lay-error="请至少选择一个销售状态">
                    {volist name="lang['saleStatus']" id="item" }
                    <input type="radio" name="saleStatus[]" value="{$key}" title="{$item}" lay-verify="checked" lay-group="saleStatus" />
                    {/volist}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系人：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="Contact" lay-verify="require" placeholder="联系人" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系方式：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="contacterTel" lay-verify="require" placeholder="手机/固话" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Email：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="email" lay-verify="require" placeholder="邮箱" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">QQ：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="qq" lay-verify="require" placeholder="QQ" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">微信：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="weChat" lay-verify="require" placeholder="微信" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>状态：</label>
                <div class="layui-input-block checkbox-left checkbox-primary" style="padding-right: 120px;" lay-error="请至少选择一个状态状态">
                    {volist name="lang['status']" id="item" }
                    <input type="radio" name="status[]" value="{$key}" title="{$item}" lay-verify="checked" lay-group="status" />
                    {/volist}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <input type="hidden" value="{$model.type}" name="type">
                <button class="layui-btn" lay-submit="" lay-filter="submit">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</section>

<script src="__JS__/site.js"></script>
<script src="__JS__/back.js"></script>
<script>

    layui.use(['form'],function () {
        var form = layui.form();

    });

    $(function () {
        var options = {
            form:'#defaultForm',
            success:console.log
        };
        Back.submit(options);
    });

    Site.search({
        url: '/manage/ajax/getHost',
        targetClass: '[lay-filter="keyword"]',      // 输入框目标元素
        parentClass: '.layui-input-block',          // 父级类
        hiddenClass: '[lay-filter="key"]',          // 隐藏域input
        key:'name'
    });

    var indexUrl = Site.uploader({
        elem:'#house_url_file',
        targetElem:'#url',
        url: '/manage/ajax/uploader?file=file',
        title:'上传房源封面',
        isAjax:true,
        success: function (res, input) {
            console.log(res);
            console.log($('#url').val());
        }
    });

    var indexDetail = Site.uploader({
        elem:'#house_detail_file',
        targetElem:'#detail',
        url: '/manage/ajax/uploader?file=file',
        title:'上传房源图片',
        isAjax:true,
        isMulti:true,
        success: function (res, input) {
            console.log(res);
            console.log($('#detail').val());
        }
    });

</script>

</body>

</html>