<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>行车记录</title>

    <style>
        .layui-table th, .layui-table td{
            text-align: center;
            vertical-align: middle;
        }
        #map {width: 100%;height: 400px;overflow: hidden;margin:0;}
        table td.action{
            padding: 5px;
        }
        table td.action a button i{
            padding-right: 4px;
        }
    </style>

    <script src="http://api.map.baidu.com/api?v=2.0&amp;ak=9cEbbHVL2zSkxfYBnF7WEFaA" type="text/javascript"></script>

</head>
<body>

<fieldset class="layui-elem-field">
    <legend style="margin: 0px auto !important;">当前出车 {$out} 批次   行驶车辆有 {$driver} 俩   待出车车辆 {$wait} 辆</legend>
    <div class="layui-field-box">
        <form class="layui-form layui-form-pane" action="{url('manage/travel/list')}"  style="display:flex;">
            <div class="layui-form-item"  style="margin:auto;width: 800px;min-height: 50px;">

                <label class="layui-form-label">办事处</label>
                <div class="layui-input-inline">
                    <select name="department" lay-search >
                        <option value="0">全公司</option>
                        {volist name="departmentList" id="item"}
                        <option value="{$item.id}"{if condition="$item['id'] eq $department"}selected{/if} >{$item.name}</option>
                        {/volist}
                    </select>
                </div>

                <div class="layui-input-inline">
                    <input type="text" value="{$startTime}" name="startTime" id="start" placeholder="开始时间" class="layui-input"  onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                </div>
                <span style="float: left;display: block;padding: 9px 9px 9px 0px;">--</span>
                <div class="layui-input-inline">
                    <input type="text" value="{$endTime}" name="endTime" id="end" placeholder="截止时间" class="layui-input"  onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                </div>

                <button class="layui-btn" lay-submit="">查询</button>

            </div>
        </form>
    </div>
</fieldset>

<fieldset class="layui-elem-field">
    <legend style="margin: 0px auto !important;">
        <label class="layui-btn" onclick="Site.showUrl('','/manage/travel/showCar.html','72%','88%','2',true,true,'LAY_TRAVEL_FALL')" lay-submit="">弹出显示</label>
    </legend>
    <div class="layui-field-box" style="height: 400px;">
        <div id="map">
        </div>
    </div>
</fieldset>

<table class="layui-table text-center" lay-even="" lay-skin="row">
    <thead>
    <tr>
        <th>用车人</th>
        <th>车牌号</th>
        <th>目的地</th>
        <th>预看楼盘</th>
        <th>车辆位置</th>
        <th>状态</th>
        <th>行驶时间</th>
        <th>行驶距离</th>
        <th>接单次数</th>
        <th>附近车辆</th>
        <th style="width:50px; text-align: center">操作</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {volist name="dataProvider" id="model"}
    <tr data-key="{$model.id}">
        <td style="width: 100px;">司机:行政司机1<br></td>
        <td style="width: 100px;">{$model.getCar.number_plate}</td>
        <td style="width: 100px;">{$model.end_address}</td>
        <td style="width: 100px;">{$model.getBuildingBase.name}</td>
        <td style="width: 100px;" class="address">
            <a lat="{$model.getCar.lat}" lng="{$model.getCar.lng}" startlat="{$model.start_lat}" startlng="{$model.start_lng}"></a>{$model.getCar.address}
        </td>
        <td style="width: 100px;">{$model.getDriver.status}</td>
        <td style="width: 100px;">{$model.driver_time}</td>
        <td style="width: 100px;" class="distance">{$model.driver_mileage}</td>
        <td style="width: 100px;"><?php echo \app\manage\model\TakeCarOrder::getOrderByCarId($model['car_id']); ?></td>
        <td style="width: 100px;"><?php echo \app\manage\model\TakeCarOrder::getNearby($model['getCar']['lat'],$model['getCar']['lng']); ?></td>
        <td style="width: 150px;text-align: center;" class="action">
            <a href="javascript:void(0);"><button onclick="Site.showUrl('查看实时位置','/manage/travel/liveAddress.html?id={$model.car_id}','72%','88%','2',true,true,'LAY_TRAVEL_{$model.id}')" class="layui-btn layui-btn-small"><i class="fa fa-search"></i>查看实时位置</button></a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>

<!-- 分页容器 -->
<div id="paging_0124" style="text-align:right;" data-pages="{$count}"></div>

<script>
    layui.use([ 'laydate', 'form','layer'], function() {});
</script>
<script>
    $(function() {
        layui.use(['laypage', 'layer'], function(){
            var laypage = layui.laypage,
                element = 'paging_0124',
                currPage = Site.getUrlParam('pageNumber'),
                count = $('#'+element).attr('data-pages');
            currPage = currPage > 1 ? currPage : 1;
            count = count ? count : 0;
            laypage({
                curr:currPage,
                cont: element,
                pages: count,
                skip: true,
                jump: function(obj,first){
                    if(obj.curr != currPage) {
                        var url = location.href;
                        if(url.indexOf("?") == -1) {
                            location.href = url+"?pageNumber="+obj.curr;
                        }else {
                            var page = Site.getUrlParam('pageNumber');
                            if(page) {
                                location.href = url.replace("pageNumber="+page,"pageNumber="+obj.curr);
                            }else {
                                location.href = url.replace("?","?pageNumber="+obj.curr+"&");
                            }
                        }
                    }
                }
            });
        });
    });
</script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("map");    // 创建Map实例
    var geoc;
    map.centerAndZoom(new BMap.Point('海南'), 11);  // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    geoc = new BMap.Geocoder();

    var opts = {
        width : 250,     // 信息窗口宽度
        height: 150,     // 信息窗口高度
        title : "" , // 信息窗口标题
        enableMessage:true,//设置允许信息窗发送短息
        message:""
    };
    var flag = true;
    var EARTH_RADIUS = 6378137.0;    //单位M
    var PI = Math.PI;
//    var marker = getCarIcon();
//    map.addOverlay(marker);
//
//    var infoWindow = new BMap.InfoWindow("地址：北京市东城区王府井大街88号乐天银泰百货八层", opts);  // 创建信息窗口对象
//    marker.addEventListener("click", function(){
//        map.openInfoWindow(infoWindow,new BMap.Point(110,20.125)); //开启信息窗口
//    });

    function addClickHandler(obj,marker){
        marker.addEventListener("click",function(e){
            if(obj.userId==undefined){
                var content= "出车人："+(obj.userId==undefined?"无":obj.userName)+"<br>"+
                    "车牌号："+obj.numberPlate+"<br>"+
                    "目的地：无"+"<br>"+
                    "预看楼盘：无"+"<br>"+
                    "车辆位置：<div id='carLocal"+obj.carId+"'>加载中...</div>"+"<br>"+
                    "GPS更新时间："+obj.latlngUpdateTime+"<br>"+
                    "状态：未派车";
                openInfo(content,e,obj.carId)
            }else{
                var htmlDiv = "<div id='car"+obj.carId+"'>信息加载中...</div>";
                $.ajax({
                    type : "post",
                    url : '/manage/travel/carInfo?driverId='+obj.userId+'&time='+ new Date().getTime(),
                    dataType : 'json',
                    beforeSend:function () {
                        openInfo(htmlDiv,e,obj.carId);
                    },
                    success : function(data) {
                        if (data.code == '1'){
                            var tData = data.result;
                            var loupan = "无";
                            var mudi = "无";
                            if(tData.length!=0){
                                mudi = tData[0].endAddress;
                                loupan = tData[0].building_name==undefined ? "无":tData[0].building_name;
                            }
                            var content= "出车人："+(obj.userId==undefined?"无":obj.userName)+"<br>"+
                                "车牌号："+obj.numberPlate+"<br>"+
                                "目的地："+(obj.status=="come"?mudi:"回公司")+"<br>"+
//                                "预看楼盘："+(obj.status=="come"?loupan:"无")+"<br>"+
                                "预看楼盘："+loupan+"<br>"+
                                "车辆位置：<div id='carLocal"+obj.carId+"'>加载中...</div>"+"<br>"+
                                "GPS更新时间："+obj.latlngUpdateTime+"<br>"+
                                "状态："+(obj.status=="come"?"去程":"返程");
                            htmlDiv = "<div id='car"+obj.carId+"'>"+content+"</div>";
                            openInfo(htmlDiv,e,obj.carId);
                        }
                    },
                    error:function (data) {
//                        console.log(data);
                    }
                })
            }
        });
    }

    function openInfo(content,e,carId){
        var p = e.target;
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象
        map.openInfoWindow(infoWindow,point); //开启信息窗口
        geoc.getLocation(point, function(rs){
            var addComp = rs.addressComponents;
            $("#carLocal"+carId).html(addComp.city  + addComp.district  + addComp.street  + addComp.streetNumber);
        });
    }

    function refreshCarLocal(){
        $.ajax({
            type : "post",
            url : '/manage/travel/carLocal?time='+ new Date().getTime(),
            dataType : 'json',
            success : function(data) {
                if (data.code == '1'){
                    map.clearOverlays();
                    var carData = data.result;
                    for(var i =0;i<carData.length;i++){
                        var pt = new BMap.Point(carData[i].lng, carData[i].lat);
                        if(flag){
                            map.centerAndZoom("海南", 10);
                            flag = false;
                        }
                        var status = carData[i].statusZH, icon = '';
                        if(status == '未派车'){
                            icon = new BMap.Icon("/static/images/car5.png", new BMap.Size(100,50));//
                        }else if(status=='抢单中'){
                            icon = new BMap.Icon("/static/images/car.png", new BMap.Size(100,50));//红色
                        }else if(status=='未签到'){
                            //已经排车但是未签到
                            icon = new BMap.Icon("/static/images/car4.png", new BMap.Size(100,50));//蓝色
                        }else if(status=='行驶中'){
                            //行驶中
                            icon = new BMap.Icon("/static/images/car3.png", new BMap.Size(100,50));//绿色
                        }else if(status=='等待抢单'){
                            //等待抢单
                            icon = new BMap.Icon("/static/images/car6.png", new BMap.Size(100,50));//黑色
                        }
                        var thisMarker = getCarIcon(carData[i].lng, carData[i].lat,icon);  // 创建标注
                        map.addOverlay(thisMarker);              // 将标注添加到地图中
                        addClickHandler(carData[i],thisMarker);
                    }
                }
            },
            error : function(data) {
            }
        });
    }

    $(function(){
        refreshCarLocal();
        setInterval(refreshCarLocal, 10000);
        $("tbody#tbody tr").each(function (index,value){
            var tr = $(value);
            var lat = tr.find(".address a").attr("lat");
            var lng = tr.find(".address a").attr("lng");
            var startLat = tr.find(".address a").attr("startLat");
            var startLng = tr.find(".address a").attr("startLng");
            var pp = new BMap.Point(lng,lat);
            geoc.getLocation(pp, function(rs){
                tr.find(".address").append(rs.address);
            });
            if(startLat!=null&&startLat!=''&&startLng!=null&&startLng!=''){
                var distance = getFlatternDistance(lat,lng,startLat,startLng);
                console.info(distance);
                tr.find(".distance").append((distance/1000).toFixed(2));
            }
        });
    });

    /**
     * @description 获取marker车图标
     */
    function getCarIcon(lng,lat,icon) {
        lng = lng || 110;
        lat = lat || 20.125;
        icon = icon || new BMap.Icon("/static/images/car.png", new BMap.Size(100,50));
        return new BMap.Marker(new BMap.Point(lng,lat), {
            icon: icon
        });
    }

    /**
     * @description approx distance between two points on earth ellipsoid
     * @param {Object} lat1
     * @param {Object} lng1
     * @param {Object} lat2
     * @param {Object} lng2
     */
    function getFlatternDistance(lat1,lng1,lat2,lng2){
        lat1=parseFloat(lat1);
        lng1=parseFloat(lng1);
        lat2=parseFloat(lat2);
        lng2=parseFloat(lng2);
        var f = getRad((lat1 + lat2)/2);
        var g = getRad((lat1 - lat2)/2);
        var l = getRad((lng1 - lng2)/2);
        var sg = Math.sin(g);
        var sl = Math.sin(l);
        var sf = Math.sin(f);
        var s,c,w,r,d,h1,h2;
        var a = EARTH_RADIUS;
        var fl = 1/298.257;
        sg = sg*sg;
        sl = sl*sl;
        sf = sf*sf;
        s = sg*(1-sl) + (1-sf)*sl;
        c = (1-sg)*(1-sl) + sf*sl;
        w = Math.atan(Math.sqrt(s/c));
        r = Math.sqrt(s*c)/w;
        d = 2*w*a;
        h1 = (3*r -1)/2/c;
        h2 = (3*r +1)/2/s;
        return d*(1 + fl*(h1*sf*(1-sg) - h2*(1-sf)*sg));
    }

    function getRad(d){
        return d*PI/180.0;
    }

    /**
     * caculate the great circle distance
     * @param {Object} lat1
     * @param {Object} lng1
     * @param {Object} lat2
     * @param {Object} lng2
     */

    function getGreatCircleDistance(lat1,lng1,lat2,lng2){
        var radLat1 = getRad(lat1);
        var radLat2 = getRad(lat2);
        var a = radLat1 - radLat2;
        var b = getRad(lng1) - getRad(lng2);
        var s = 2*Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) + Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
        s = s*EARTH_RADIUS;
        s = Math.round(s*10000)/10000.0;
        return s;
    }

</script>

</body>
</html>